.App {
  text-align: center;
  margin: 10px;
  padding: 10px;
}

h1 {
  background-color: #87CEFA;
  border: 3px solid #4169E1;
  margin: 10px 0;
  padding: 10px;
  color: #fff;
}

.header {
  background-color: #ccc;
  border: 1px solid #eee;
  margin-bottom: 10px;
  padding: 10px;
}

.tweet {
  background-color: #F0FFFF;
  border: 1px solid #87CEFA;
  margin-bottom: 10px;
  padding: 10px;  
  text-align:left;
}

.body {
  margin-bottom: 10px;
}

.likeBox {
  display: flex;
  gap: 0 20px;
}

.tweetForm {
  text-align: left;
  margin-bottom: 20px;
}

.tweetForm textarea {
  width: 50%;
  line-height: 30px;
}
