.App {
  text-align: center;
}

h1, div {
  margin: 10px;
}

#item, #price, #amount {
  font-size: 1em;
  padding: 0.3em;
}

.my-table {
  margin: 10px;
  width: 90%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  background: #FFB6C1;
  table-layout: fixed;
}

.my-table tr:nth-child(2n+1) {
  background: #EEEED1;
}

.my-table th {
  padding: 8px;
  border: solid 1px #ffffff;
  background: #FF6347;
  color: #ffffff;
}

.my-table td {
  padding: 8px;
  border: solid 1px #ffffff;
  word-break : break-all;
}
