.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1, div {
  margin: 10px;
}

#item, #price, #amount {
  font-size: 1em;
  padding: 0.3em;
}

.my-table {
  margin: 10px;
  width: 90%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  background: #FFB6C1;
  table-layout: fixed;
}

.my-table tr:nth-child(2n+1) {
  background: #EEEED1;
}

.my-table th {
  padding: 8px;
  border: solid 1px #ffffff;
  background: #FF6347;
  color: #ffffff;
}

.my-table td {
  padding: 8px;
  border: solid 1px #ffffff;
  word-break : break-all;
}
